<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <%- include('../components/head', { title: title || 'Dashboard' }) %>
  <% if (typeof extraHead !== 'undefined') { %>
    <%- extraHead %>
  <% } %>
</head>
<body class="d-flex flex-column min-vh-100 bg-dark text-light">
  <%- include('../components/header', { user: user }) %>
  
  <main class="flex-grow-1">
    <div class="container py-4">
      <%- body %>
    </div>
  </main>
  
  <%- include('../components/footer') %>
  <%- include('../components/scripts', { additionalScripts: locals.additionalScripts }) %>
</body>
</html>
